*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(bg.png) no-repeat;
    background-position: center;
    background-size: cover;
    
    height: 100vh;
   



}

.context{
    display:block;
    justify-content: space-between;
    align-items: center;
}

.context h1{
    font-size: 50px;
    color: rgb(12, 12, 12);
    text-align: center;
    margin-top: 15px;
    

}

.context p{
    display: block;
    color: rgb(10, 15, 10);
    margin-top: 10px;
    padding-bottom: 5px;
    font-weight: bold;;
    font-size: 20px;
    text-align: center;
}


.container img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    animation: spin 1.5s linear infinite alternate;
    
}   

@keyframes spin {
    0%{ 
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-15px);   
    }
}


.box a{
    display: block;
    align-items: center;
    width: 93%;
    /* max-height: 30px; */
    color: rgb(3, 3, 3);
    background-color: rgb(185, 226, 236);
    border: 3px solid white;
    cursor: pointer;
    margin: 10px;
    padding: 2px;

}
.box #even{
    animation: jiggle_even 1.5s linear infinite alternate;
    
}

.box #odd{
    animation: jiggle_odd 1.5s linear infinite alternate;

}

.box p{
    
    padding:1px 25px;
    font-size: 33px;
    font: icon;
}

#icon{
    display: flex;
    font-size: 30px;
    align-items: center;
    padding: 13px 40px;
    border: .5px solid black;

}
@keyframes jiggle_even {
    0%{ 
        transform: translateX(0px);
    }
    50%{ 
        transform: translateX(-1px);
    }
    100% {
        transform: translateX(1px);   
    }
}


@keyframes jiggle_odd {
    0%{ 
        transform: translateX(0px);
    }
    50%{ 
        transform: translateX(1px);
    }
    100% {
        transform: translateX(-1px);   
    }
}
